<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meeting.demo.dao.AskqueueMapper">
  <resultMap id="BaseResultMap" type="org.meeting.demo.model.Askqueue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ask_id" jdbcType="VARCHAR" property="askId" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="success" jdbcType="VARCHAR" property="success" />
    <result column="pause" jdbcType="VARCHAR" property="pause" />
    <result column="pause_time" jdbcType="VARCHAR" property="pauseTime" />
    <result column="machine_number" jdbcType="VARCHAR" property="machineNumber" />
    <result column="machine_zone" jdbcType="VARCHAR" property="machineZone" />
    <result column="handle" jdbcType="VARCHAR" property="handle" />
  </resultMap>
</mapper>