<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meeting.demo.dao.EventhandleMapper">
  <resultMap id="BaseResultMap" type="org.meeting.demo.model.Eventhandle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ask_id" jdbcType="VARCHAR" property="askId" />
    <result column="event_handle_id" jdbcType="VARCHAR" property="eventHandleId" />
    <result column="handle" jdbcType="VARCHAR" property="handle" />
    <result column="handle_result" jdbcType="VARCHAR" property="handleResult" />
    <result column="handle_person" jdbcType="VARCHAR" property="handlePerson" />
    <result column="report" jdbcType="VARCHAR" property="report" />
    <result column="report_result" jdbcType="VARCHAR" property="reportResult" />
    <result column="report_person" jdbcType="VARCHAR" property="reportPerson" />
  </resultMap>
</mapper>